* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 3rem;
  border-bottom: 1px solid black;
  padding: 30px;
}
.chart {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  height: 100vh;
}

.tier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-tier {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38%;
}
.card {
  position: relative;
  font-size: 20px;
  color: black;
  border: 1px black solid;
  padding: 50px;
  margin: 20px 30px 20px 30px;
  cursor: pointer;
}

.team {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(29, 29, 29);
  cursor: pointer;
  transition: all 0.4s ease;
}

.up {
  transition: all 0.4s ease;
  transform: rotate(180deg);
}
